// ------------------------------------------------
// Config
// ------------------------------------------------ //


// Global settings
// ------------------------------------------------

// Debug mode
$debug-mode:			true;

// Grid
$use-grid:				true;

$grid-cols--xs:		4;
$grid-cols--sm:		6;
$grid-cols--md:		8;
$grid-cols--lg:		12;

// Resposive
$use-responsive:		true;

// Global border box
$global-border-box:	true;

// Base border radius
$border-radius:		4px;

   
// Layout
// ------------------------------------------------

$layout-gutter: 				40px;

// Breakpoints
$layout-desktop--start:		1160px;
$layout-table--start:		720px;
$layout-smartphone--start:	480px;

   
// Text
// ------------------------------------------------

// Brand font family
$font-family--brand:	'Times New Roman',serif;

// Base font settings
$font-size--base:		14px;
$line-height--base:	21px;
$font-family--base:	Arial,Helvetica,sans-serif;

// Font sizes
$font-size--xs:		10px;
$font-size--sm:		12px;
$font-size--lg:		24px;
$font-size--xl:		32px;

$font-size--h1:		36px;
$font-size--h2:		30px;
$font-size--h3:		24px;
$font-size--h4:		18px;
$font-size--h5:		16px;
$font-size--h6:		14px;


// Colors 
// ------------------------------------------------

$color-black:			#000;
$color-white:			#fff;

$color-base:			#000;
$color-brand:			#000;
$color-link:			#ffff00;
$color-ui:				#ccc;

$color-gray:			#999;
$color-gray-light:	#ccc;
$color-gray-dark:		#666;

// Selection
$color-selection--background:	$color-gray;
$color-selection--text:			$color-white;


// Additional elements
// ------------------------------------------------

// Base
$use-wordpress:		true;

// Components
$use-buttons:			true;
$use-rules:				true;

// Helpers
$use-columns:			true;
$use-fonts:				true;
$use-colors:			true;

// Modules
$use-navigation:		true;
$use-breadcrumbs:		true;
$use-pagination:		true;
$use-skip-links:		true;
$use-split-list:		true;