// ------------------------------------------------
// Configuration
// SASS/CSS Framework
// ------------------------------------------------ //

// Additional elements
// ------------------------------------------------

// Base
$use-wordpress: true;

// Components
$use-buttons: true;
$use-rules: true;
$use-skip-links: true;