// ---------------------------------------
// Configuration
// ---------------------------------------

   
// Layout
// ---------------------------------------
$layout-gutter: 		40px;


// Responsive
// ---------------------------------------
$smartphone-start: 	0px;
$table-start: 			0px;
$desk-start: 			0px;

   
// Text
// ---------------------------------------

// Font size
$h1-size: 36px!default; // .alpha
$h2-size: 30px!default; // .beta
$h3-size: 24px!default; // .gamma
$h4-size: 20px!default; // .delta
$h5-size: 16px!default; // .epsilon
$h6-size: 14px!default; // .zeta

$small-size-1:0px!default;
$small-size-2:0px!default;
$small-size-3:0px!default;

$medium-size-1:0px!default;
$medium-size-2:0px!default;
$medium-size-3:0px!default;

$big-size-1:0px!default;
$big-size-2:0px!default;
$big-size-3:0px!default;

// Font family
$font-family-1: Arial,Helvetica,sans-serif;
$font-family-2: "Times New Roman",Georgia,serif; 

// Base font settings
$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-font-family:  $font-family-1;
$base-spacing-unit: 16px;


// Colors 
// ---------------------------------------

$color-black: 		#333;
$color-white: 		#fff;
$color-link:  		#ffff00;

$color-gray-light:	#ccc;
$color-gray:		#999;
$color-gray-dark:	#666	;

$color-brand-1:		#000;
$color-brand-2:		#000;
$color-brand-3:		#000;
$color-brand-4:		#000;


// Base variables
// ---------------------------------------

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;
$half-layout-gutter: $layout-gutter / 2!default;