// ------------------------------------------------
// Defaults
// ------------------------------------------------ //


// Global settings
// ------------------------------------------------

// Debug mode
$debug-mode:        	false!default;

// Grid
$use-grid:       		false!default;

// Resposive
$use-responsive:     false!default;

// Global border box
$global-border-box: 	true!default;


// Design
// ------------------------------------------------

// Base ui color
$base-ui-color:     	#ccc!default;

// Base round
$base-round:        	4px!default;

   
// Layout
// ------------------------------------------------

$layout-gutter: 		40px!default;

// Breakpoints
$desktop-start: 		1160px!default;
$table-start: 			720px!default;
$smartphone-start: 	480px!default;

   
// Text
// ------------------------------------------------

// Base font settings
$base-font-size:    	14px!default;
$base-line-height:  	21px!default;
$base-font-family:	Arial,Helvetica,sans-serif!default;

// Brand font family
$brand-font-family:	'Times New Roman',serif!default;

// Font sizes
$h1-size: 36px!default; // .alpha
$h2-size: 30px!default; // .beta
$h3-size: 24px!default; // .gamma
$h4-size: 20px!default; // .delta
$h5-size: 16px!default; // .epsilon
$h6-size: 14px!default; // .zeta

$small-size-1:10px!default;
$small-size-2:12px!default;

$medium-size-1:14px!default;
$medium-size-2:16px!default;

$big-size-1:24px!default;
$big-size-2:32px!default;


// Colors 
// ------------------------------------------------

$color-black: 			#000;
$color-white: 			#fff;
$color-link:  			#ffff00;

$color-gray:			#999;
$color-gray--light:	#ccc;
$color-gray--dark:	#666;

$color-brand-1:		#000;
$color-brand-2:		#000;

// Selection
$color-selection-background:	$color-gray!default;
$color-selection-text:			$color-white!default;


// Additional elements
// ------------------------------------------------

// Base
$use-wordpress:      true!default;

// Components
$use-buttons:			false!default;
$use-rules:				false!default;

// Helpers
$use-columns:			false!default;

// Modules
$use-navigation:		false!default;
$use-breadcrumbs:		false!default;
$use-pagination:		false!default;
$use-skip-links:		false!default;
$use-split-list:		false!default;


// Base variables
// ------------------------------------------------

$base-spacing: 			$base-line-height!default;
$base-spacing--half: 	$base-spacing / 2!default;
$line-height-ratio: 		$base-line-height / $base-font-size;
$layout-gutter--half: 	$layout-gutter / 2!default;