// ------------------------------------------------
// Defaults
// ------------------------------------------------ //


// Global settings
// ------------------------------------------------

// Resposive
$use-responsive:		false!default;

// Global border box
$global-border-box:	false!default;

// Grid
// ------------------------------------------------

$use-grid:				false!default;

// Grid gutter
$grid-gutter: 			0!default;

// Grid columns | responsive
$grid-cols-xs:			4!default;
$grid-cols-sm:			6!default;
$grid-cols-md:			8!default;
$grid-cols-lg:			12!default;

   
// Layout
// ------------------------------------------------

// Breakpoints | responsive
$layout-desktop-start:		1160px!default;
$layout-table-start:			720px!default;
$layout-smartphone-start:	480px!default;

   
// Text
// ------------------------------------------------

// Font family
$font-family-1:	Arial,Helvetica,sans-serif!default;
$font-family-2:	'Times New Roman',serif!default;

// Base font size
$font-size-base:		14px!default;
$line-height-base:	21px!default;

// Font sizes
$font-size-xs:			10px!default;
$font-size-sm:			12px!default;
$font-size-lg:			24px!default;
$font-size-xl:			32px!default;


// Colors 
// ------------------------------------------------

$color-black:			#000!default;
$color-white:			#fff!default;

$color-base:			#000!default;
$color-brand:			#000!default;
$color-link:			#ffff00!default;
$color-ui:				#ccc!default;

$color-gray:			#999!default;
$color-gray-light:	#ccc!default;
$color-gray-dark:		#666!default;

// Selection
$color-selection--background:	$color-gray!default;
$color-selection--text:			$color-white!default;


// Additional elements
// ------------------------------------------------

// Base
$use-wordpress:		false!default;

// Components
$use-buttons:			false!default;
$use-rules:				false!default;
$use-skip-links:		false!default;

// Helpers
$use-columns:			false!default;
$use-fonts:				false!default;
$use-colors:			false!default;


// Base variables
// ------------------------------------------------

$base-spacing:				$line-height-base!default;
$base-spacing-half:		$base-spacing / 2!default;
$base-spacing-double:	$base-spacing * 2!default;
$line-height-ratio:		$line-height-base / $font-size-base;
$grid-gutter-half:		$layout-gutter / 2!default;
$grid-gutter-double:		$layout-gutter * 2!default;