// ------------------------------------------------
// Defaults
// ------------------------------------------------ //


// Layout
// ------------------------------------------------

$layout-spacing: 20px!default;
$breakpoint-start--desktop: 1160px!default;


// Responsive
// ------------------------------------------------

$use-responsive: false!default;

// Breakpoints
$breakpoint-start--tablet: 720px!default;
$breakpoint-start--smartphone: 580px!default;


// Grid
// ------------------------------------------------

$use-grid: false!default;

// Grid gutter
$grid-gutter: 0!default;

// Grid columns | responsive
$grid-cols--desktop: 6!default;
$grid-cols--table: 6!default;
$grid-cols--smartphone: 6!default;
$grid-cols--phone: 6!default;


// Text
// ------------------------------------------------

$use-border-focus: false!default;

// Font family
$font-family--1: Arial,Helvetica,sans-serif!default;
$font-family--2: 'Times New Roman',serif!default;

// Base font size
$font-size--base: 14px!default;
$line-height--base: 20px!default;

// Font sizes
$font-size--small-1: 10px!default;
$font-size--small-2: 12px!default;
$font-size--large-1: 30px!default;
$font-size--large-2: 20px!default;


// Colors 
// ------------------------------------------------

$color--black: #000!default;
$color--white: #fff!default;

$color--text: #000!default;
$color--link: #ffff00!default;
$color--ui: #ccc!default;
$color--brand: #000!default;

$color--gray: #999!default;
$color--gray-light: #ccc!default;
$color--gray-dark: #666!default;

// Selection
$color-selection--background: $color-gray!default;
$color-selection--text: $color-white!default;

// Focus
$color--focus-1: #99ccff;
$color--focus-2: #6699ff;


// Additional elements
// ------------------------------------------------

// Base
$use-wordpress:		false!default;

// Components
$use-buttons:			false!default;
$use-rules:				false!default;
$use-skip-links:		false!default;


// Base variables
// ------------------------------------------------

$line-height--ratio: $line-height--base / $font-size--base;

$layout-spacing--half: $layout-spacing / 2!default;
$layout-spacing--double: $layout-spacing * 2!default;

$grid-gutter--half: $layout-gutter / 2!default;
$grid-gutter--double: $layout-gutter * 2!default;