// ---------------------------------------
// Brand
// ---------------------------------------

.brand {
	font-family:$brand-face +!important;
	color:$brand-color +!important;
}
.brand-face {
	font-family:$brand-face +!important;
}
.brand-color {
	color:$brand-color +!important;
}