// ------------------------------------------------
// Brand
// ------------------------------------------------ //

.brand {
	font-family:$brand-font-family +!important;
	color:$color-brand +!important;

	&-face{
		font-family:$brand-font-family +!important;
	}
	&-color {
		color:$color-brand +!important;
	}
}