// ------------------------------------------------
// Layout
// ------------------------------------------------ //

// Box sizing
@if $global-border-box == false {

	*[class^="l-"] {
		@include box-sizing(border-box);
	}

} //endif

// Container
.l-container {
	width:$desktop-start + $layout-gutter; 
	margin-left:auto; margin-right:auto; 
	padding-left:$layout-gutter--half; padding-right:$layout-gutter--half;
	@extend .cf;
	
	@include media-query(table){ 
		width:100%;
	}
}
.l-container--fluid {
	padding-left:$layout-gutter--half; padding-right:$layout-gutter--half;
}