// ------------------------------------------------
// Layout
// ------------------------------------------------ //

// Container
.l-container {
	width:$layout-width; margin-left:auto; margin-right:auto; padding:0 $grid-gutter;
	@extend %cf;
	@extend %u-box-sizing--border;
	
	@if $use-responsive  == true {
		
		// RESPONSIVE
		@include media-query(tablet) { 
			width:100%; padding:0 $grid-gutter;
		}
		@include media-query(smartphone) { 
			padding:0 $grid-gutter--half;
		}
		
	} //endif
	
}
.l-container-fluid {
	width:100%; margin-left:0; margin-right:0; padding:0 $grid-gutter--half;
	@extend %cf;
	@extend %u-box-sizing--border;
}

// Grid
@if $use-grid == true {
	
	// Grid float
	.l-row {
		margin-left:- $grid-gutter--half; margin-right:- $grid-gutter--half; padding:0;
		display:block;
		@extend %cf;
		@extend %u-box-sizing--border;
	}
	.l-col {
		padding:0 $grid-gutter--half;
		position:relative;
		float:left;
		@extend %u-box-sizing--border;
	}
	// column inside other column
	.l-col--row {
		padding-left:0; padding-right:0;
	}

	// Grid inline
	.l-row-inline {
		@extend .l-row;
		position:relative; left:4px;
	}
	.l-col-inline {
		padding:0 $grid-gutter--half; margin:0 -4px;  // inline-block space fix
		display:inline-block;
		vertical-align:top;
		@extend %u-box-sizing--border;
	}

	// Setup grid
	@include grid-setup($grid-cols--desktop,'',width);
	@include grid-setup($grid-cols--desktop,'',offset);

	// Resposnive
	//
	// Usage:
	// <ul class="row">
	//		<li class-"l-col l-col-2 l-col-s-4 l-col-offset-2"></li>
	//		<li class-"l-col l-col-4 l-col-m-2"></li>
	// <ul>
	@if $use-responsive  == true {

		@include media-query(tablet) { 
			@include grid-setup($grid-cols--tablet,-l,width);
			@include grid-setup($grid-cols--tablet,-l,offset);
		}
		@include media-query(smartphone) {  
			@include grid-setup($grid-cols--smartphone,-m,width);
			@include grid-setup($grid-cols--smartphone,-m,offset);
		}
		@include media-query(phone) { 
			@include grid-setup($grid-cols--phone,-s,width);
			@include grid-setup($grid-cols--phone,-s,offset);
		}
		
	} //endif

} //endif