// ------------------------------------------------
// Layout
// ------------------------------------------------ //


// Container
.l-container {
	width:$layout-desktop-start + $grid-gutter; 
	margin-left:auto; margin-right:auto; 
	padding-left:$grid-gutter-half; padding-right:$grid-gutter-half;
	@extend .cf;
	@if $global-border-box == false { @include box-sizing(border-box); } // box sizing
	
	@include media-query(table){ 
		width:100%;
	}
	
	// fluid
	&--fluid {
		width:100%;
		padding-left:$grid-gutter-half; padding-right:$grid-gutter-half;
	}
}

// Grid
@if $use-grid == true {
	
	// grid float
	.l-row {
		margin-left:- $grid-gutter-half; margin-right:- $grid-gutter-half;
		display:block;
		@extend .cf;
		@if $global-border-box == false { @include box-sizing(border-box); } // box sizing
	}
	.l-col {
		padding:0 $grid-gutter-half;
		position:relative;
		float:left;
		@if $global-border-box == false { @include box-sizing(border-box); } // box sizing
	}

	// Setup grid
	@include grid-setup($grid-cols-lg,'',width);
	@include grid-setup($grid-cols-lg,'',offset);

	// Resposnive
	//
	// Usage:
	// <ul class="row">
	//		<li class-"l-col l-col-2 l-col-sm-4 l-col-offset-2"></li>
	//		<li class-"l-col l-col-4 l-col-xs-2"></li>
	// <ul>
	@if $use-responsive  == true {

		@include media-query(table) { 
			@include grid-setup($grid-cols-md,-md,width);
			@include grid-setup($grid-cols-md,-md,offset);
		}
		@include media-query(smartphone) {  
			@include grid-setup($grid-cols-sm,-sm,width);
			@include grid-setup($grid-cols-sm,-sm,offset);
		}
		@include media-query(phone) { 
			@include grid-setup($grid-cols-xs,-xs,width);
			@include grid-setup($grid-cols-xs,-xs,offset);
		}
		
	} //endif

} //endif