// ------------------------------------------------ 
// Margins
// ------------------------------------------------ //

// base elements margin
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
pre,blockquote,p,address,
table,
fieldset,figure {
	margin-bottom:$layout-spacing;
}

// hr bottom margin
hr {
	margin-bottom:$layout-spacing - 1px;
}

// lists left margin
ul,ol {
	margin-left:$layout-spacing--double;
}