// ------------------------------------------------
// Reset
// ------------------------------------------------ //

// elements
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,dd,
pre,blockquote,p,address,
table,th,td,caption,
form,fieldset,legend,
hr {
	margin:0; padding:0;
}

// extra cursor
abbr[title],dfn[title] {
	cursor:help;
}

// remove underline
u,ins {
	text-decoration:none;
}

// form cursors
label,
input,
textarea,
button,
select,
option {
	cursor:pointer;
}