@if $use-wordpress == true {

// ------------------------------------------------
// Wordpress default styles
// ------------------------------------------------ //

// Images align
.alignleft {
	margin-right:$layout-spacing; margin-bottom:$layout-spacing--half;
	float:left;
}
.alignright {
	margin-left:$layout-spacing; margin-bottom:$layout-spacing--half;
	float:right;
}
.aligncenter {
	margin-right:auto; margin-left:auto; margin-bottom:$layout-spacing;
	display:block;
}

// Caption
.wp-caption {
	max-width:100%; margin-bottom:$layout-spacing;
	img {
		display:block;
	}
	p {
		margin:0;
	}
}
.wp-caption-text {
	font-style:italic;
}

} //endif