@if $use-wordpress == true {
// ------------------------------------------------
// Wordpress default styles
// ------------------------------------------------ //

// Images align
.alignleft{
	margin-right:$base-spacing; margin-bottom:$base-spacing / 2;
	float:left;
}
.alignright {
	margin-left:$base-spacing; margin-bottom:$base-spacing / 2;
	float:right;
}
.aligncenter {
	margin-right:auto; margin-left:auto; margin-bottom:$base-spacing;
	display:block;
}

// Caption
.wp-caption {
	max-width:100%; margin-bottom:$base-spacing;
	img {
		display:block;
	}
	p {
		margin:0;
	}
}
.wp-caption-text {
	font-style:italic;
}

} //endif