@if $use-breadcrumb == true {
// ---------------------------------------
// Breadcrumbs
// Extends '.nav'
// ---------------------------------------

.breadcrumb > li + li:before {
	content:"\00BB" "\00A0";
}

// path-like structure
.breadcrumb--path > li + li:before {
	content:"\002F" "\00A0";
}


// Assign a delimiter on the fly through a data attribute, e.g.:
// <ol class="nav breadcrumb">
// 	<li><a href=#>Item 1</a></li>
// 	<li data-breadcrumb="|"><a href=#>Item 2</a></li>
// </ol>
.breadcrumb > li + li[data-breadcrumb]:before {
	content:attr(data-breadcrumb) "\00A0";
}

} //endif