@if $use-breadcrumbs == true {
// ------------------------------------------------
// Breadcrumbs
// Extends '.Nav'
// ------------------------------------------------ //

.Breadcrumbs {
	& > li + li:before {
		content:"\00BB" "\00A0";
	}
	
	// Assign a delimiter through a data attribute, 
	// e.g.: data-breadcrumb="|"
	& > li + li[data-breadcrumb]:before {
		content:attr(data-breadcrumb) "\00A0";
	}
	
	// Path-like structure
	&--path > li + li:before {
		content:"\002F" "\00A0";
	}
}

} //endif