@if $use-breadcrumb == true {
// ---------------------------------------
// Breadcrumbs
// Extends '.nav'
// ---------------------------------------

.breadcrumb > li + li:before {
	content:"\00BB" "\00A0";
}

// path-like structure
.breadcrumb--path > li + li:before {
	content:"\002F" "\00A0";
}

// Assign a delimiter through a data attribute, 
// e.g.: data-breadcrumb="|"
.breadcrumb > li + li[data-breadcrumb]:before {
	content:attr(data-breadcrumb) "\00A0";
}

} //endif