@if $use-navigation == true or $use-pagination == true or $use-breadcrumbs == true  {
// ------------------------------------------------
// Navigation
// ------------------------------------------------ //

// Horizontal navigation
.Navigation {
	list-style:none;
	margin-left:0;
	@extend .cf;
	> li {
		&,
		> a {
			display:inline-block;
			*display:inline;
			zoom:1;
		}
	}
	
	// All extend '.Navigation'
	
	// vertical
	&--vertical {
		> li {
			display:list-item;
			> a {
				display:block;
			}
		}
	}

	// text align center
	&--banner {
		text-align:center;
	}

	// links with clickable block area
	&--block {
		line-height:1;
		letter-spacing:-0.31em;
		word-spacing:-0.43em;
		white-space:nowrap;
		> li {
			letter-spacing:normal;
			word-spacing:normal;
			> a {
				padding:$base-spacing--half;
			}
		}
	}

	// table layout
	&--table {
		display:table;
		width:100%;
		> li {
			display:table-cell;
			> a {
				display:block;
			}
		}
	}
}

} //endif