@if $use-rules == true{
// ---------------------------------------
// Rules
// ---------------------------------------

.rule {
	margin-bottom:$base-spacing-unit - 1px;
	margin-bottom:(($base-spacing-unit - 1px) / $base-font-size)*1rem;
	color:$base-ui-color;
	border:none;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

// Rule dotted
.rule--dotted {
	border-bottom-style:dotted;
}

// Rule dashed
.rule--dashed {
	border-bottom-style:dashed;
}

} //endif