@if $use-wp-styles == true{
// ---------------------------------------
// Wordpress default styles
// ---------------------------------------

// Images align
.alignleft{
	@extend .img--left;
}
.alignright {
	@extend .img--right;
}
.aligncenter {
	@extend .img--center;
}

// Caption
.wp-caption {
	max-width:100%; 
	margin-bottom:$base-spacing-unit;
	img {
		display:block;
	}
	p {
		margin:0;
	}
}
.wp-caption-text {
	font-style:italic;
}

} //endif