@if $use-buttons == true {

// ------------------------------------------------
// Buttons
// ------------------------------------------------ //

.button {
	padding:0 1em; margin:0;
	display:inline-block;
	vertical-align:middle; white-space:nowrap;
	font-family:inherit; line-height:2; text-align:center;
	cursor:pointer;
	border:none;
	&,
	&:hover {
		text-decoration:none;
	}
	&:active,
	&:focus {
		outline:none;
	}
	
	// buttons type
	&--round {
		@include border-radius($border-radius);
	}
	&--block {
		width:100%;
		display:block;
		& + & {
			margin-top:$layout-spacing--half;
		}
	}
	&--link {
		color:$color--link;
		font-weight:normal;
	}
	
	// buttons size
	&--s {
		padding-right:0.5em; padding-left:0.5em;
		font-size:$font-size--small-1; line-height:1.5;
	}
	&--m {
		padding-right:0.75em; padding-left:0.75em;
		font-size:$font-size--large-2; line-height:1.5;
	}
	&--l {
		padding-right:1.5em; padding-left:1.5em;
		font-size:$font-size--large-1; line-height:3;
	}
}

} //endif