@if $use-buttons == true {
// ------------------------------------------------
// Buttons
// ------------------------------------------------ //

.button {
	padding:0 1em; margin:0;
	display:inline-block;
	vertical-align:middle; white-space:nowrap;
	font-family:inherit; line-height:2; text-align:center;
	cursor:pointer;
	border:none;
	&,
	&:hover {
		text-decoration:none;
	}
	&:active,
	&:focus {
		outline:none;
	}
	
	// buttons type
	&--round {
		@include border-radius($border-radius);
	}
	&--block {
		width:100%; padding-right:0; padding-left:0;
		display:block;
		+ .btn--block {
			margin-top:$base-spacing--half;
		}
	}
	&--link {
		color:$color-link;
		font-weight: normal;
	}
	
	// buttons size
	&--xs {
		padding-right:0.5em; padding-left:0.5em;
		font-size:$font-size--xs; line-height:1.5;
	}
	&--sm {
		padding-right:0.75em; padding-left:0.75em;
		font-size:$font-size--sm; line-height:1.5;
	}
	&--lg {
		padding-right:1.5em; padding-left:1.5em;
		font-size:$font-size--lg; line-height:3;
	}
	&--xl {
		padding-right:2em; padding-left:2em;
		font-size:$font-size--xl; line-height:4;
	}
}

} //endif