// ------------------------------------------------
// Images
// ------------------------------------------------ //

// Image size  
img {
	max-width:100%;
	font-style:italic;
	&[width],
	&[height] {
		max-width:none;
	}
}

// Image placement
.img {
	&-right {
		margin-left:$layout-spacing; margin-bottom:$layout-spacing--half;
		float:right;
	}
	&-left {
		margin-right:$layout-spacing; margin-bottom:$layout-spacing--half;
		float:left;
	}
	&-center {
		margin-right:auto; margin-left:auto; margin-bottom:$layout-spacing;
		display:table;
	}
}

// Figure
figure > img {
	display:block;
}