// ---------------------------------------
// Lists
// ---------------------------------------

li {
	> ul,
	> ol {
		margin-bottom:0;
	}
}

.list--decimal { list-style-type:decimal; }
.list--disc    { list-style-type:disc; }