// ------------------------------------------------
// Lists
// ------------------------------------------------ //

.list {
	&-decimal { 
		list-style-type:decimal; 
	}
	&-disc { 
		list-style-type:disc; 
	}
	&-horizontal {
		li {
			display:inline-block;
		}
	}
}