@if $use-rules == true {

// ------------------------------------------------
// Rules
// ------------------------------------------------ //

.rule {
	margin-bottom:$layout-spacing - 1px;
	border:none; border-bottom:1px solid $color--ui;
	&--dotted {
		border-bottom-style:dotted;
	}
	&--dashed {
		border-bottom-style:dashed;
	}
}

} //endif