@if $use-skip-links == true {
// --------------------------------------------------------
// Skip Links | accessibility
// -------------------------------------------------------- //

.skip-link {
	width:1px; height:1px;
	overflow:hidden; 
	position:absolute; left:-10000px; top:auto;
	&:active,
	&:focus {
		width:auto; height:auto; padding:($layout-gutter-half / 2) $layout-gutter-half;
		background-color:$color-black; color:$color-white;
		left:0; z-index:10;
		font-size:$base-font-size + 2; font-weight:bold;
	}
}

} //endif