@if $use-skip-links == true {

// --------------------------------------------------------
// Skip Links | accessibility
// -------------------------------------------------------- //

.skip-link {
	width:1px; height:1px;
	overflow:hidden; 
	position:absolute; left:-10000px; top:auto;
	&:active,
	&:focus {
		width:auto; height:auto; padding:($grid-gutter--half / 2) $grid-gutter--half;
		background-color:$color--black; color:$color--white;
		left:0; z-index:10;
		font-size:$font-size--base; font-weight:bold;
	}
}

} //endif