// ------------------------------------------------
// Clear fix
// ------------------------------------------------ //

.cf,
%cf {
    &:before,
    &:after {
        content:"";
        display:table;
        clear:both;
    }
}