// ------------------------------------------------
// Responsive
// ------------------------------------------------ //

// Media query
// Using: @include media-query(table){ [styles] }

$phone-end: $smartphone-start - 1px;
$smartphone-end: $table-start - 1px;
$table-end: $desktop-start - 1px;

@mixin media-query($media-query) {
	@if $media-query == phone {
		@media only screen and (max-width:$phone-end) { @content; }
	}
	@if $media-query == smartphone {
		@media only screen and (max-width:$smartphone-end) { @content; }
	}
	@if $media-query == table {
		@media only screen and (max-width:$table-end) { @content; }
	}
	@if $media-query == desktop {
		@media only screen and (min-width:$desktop-start) { @content; }
	}
}