// ------------------------------------------------
// Utilities
// ------------------------------------------------ //


// Links
// ------------------------------------------------

// image link
%u-link--image {
	display:block;
	overflow:hidden;
	line-height:0;
}


// Text
// ------------------------------------------------

// Accessibility hidden elements
%u-visuallyhidden {
	@include accessibility;
}


// Layout
// ------------------------------------------------

// Box sizing
%u-box-sizing--border {
	@include box-sizing(border-box);
}
%u-box-sizing--content {
	@include box-sizing(content-box);
}


// Responsive hidden content
// ------------------------------------------------

@if $use-responsive  == true {
	
	@include media-query(desktop) { 
		.u-hidden--desktop { display:none }
	}
	@include media-query(table) { 
		.u-hidden--tablet { display:none }
	}
	@include media-query(smartphone) {  
		.u-hidden--smartphone { display:none }
	}
	@include media-query(phone) { 
		.u-hidden--phone { display:none }
	}
	
} //endif