// ------------------------------------------------
// Utilities
// ------------------------------------------------ //
   
   
// Text
// ------------------------------------------------

// Text alignment
.u-align {
	&--left     { text-align:left  !important; }
	&--center   { text-align:center!important; }
	&--right    { text-align:right !important; }
}

// Font weights
.u-weight {
	&--light		{ font-weight:300!important; }
	&--normal	{ font-weight:400!important; }
	&--semibold	{ font-weight:600!important; }
}

// Apply capital case to an element
.u-caps {
	text-transform:uppercase !important;
}


// Layout
// ------------------------------------------------

// Box sizing
.u-box {
	&--border 	{ @include box-sizing(border-box); }
	&--content	{ @include box-sizing(content-box); }
}
   
// Floats
.u-float {
	&--right   	{ float:right!important; }
	&--left    	{ float:left !important; }
	&--none    	{ float:none !important; }
}