// ------------------------------------------------
// Utilities
// ------------------------------------------------ //


// Clearfix
// ------------------------------------------------
.u-clearfix,
%u-clearfix {
	&:after {
		content:"";
		display:table;
		clear:both;
	}
}


// Links
// ------------------------------------------------

// image link
%u-link--image {
	display:block;
	overflow:hidden;
	line-height:0;
}


// Text
// ------------------------------------------------

// Accessibility hidden elements
%u-visuallyhidden {
	@include accessibility;
}


// Layout
// ------------------------------------------------

// Box sizing
%u-box-sizing--border {
	@include box-sizing(border-box);
}
%u-box-sizing--content {
	@include box-sizing(content-box);
}

// Margin bottom
.u-spacing,
%u-spacing {
    margin-bottom:$layout-spacing;
}
.u-spacing--half,
%u-spacing--half {
    margin-bottom:$layout-spacing--half;
}
.u-spacing--double,
%u-spacing--double {
    margin-bottom:$layout-spacing--double;
}

// Margin top
.u-spacing-top,
%u-spacing-top {
    margin-top:$layout-spacing;
}
.u-spacing-top--half,
%u-spacing-top--half {
    margin-top:$layout-spacing--half;
}
.u-spacing-top--double,
%u-spacing-top--double {
    margin-top:$layout-spacing--double;
}


// Responsive hidden content
// ------------------------------------------------

@if $use-responsive  == true {
	
	@include media-query(desktop) { 
		.u-hidden--desktop { display:none }
	}
	@include media-query(table) { 
		.u-hidden--tablet { display:none }
	}
	@include media-query(smartphone) {  
		.u-hidden--smartphone { display:none }
	}
	@include media-query(phone) { 
		.u-hidden--phone { display:none }
	}
	
} //endif